body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100vh;
}

.carder {
  width: 20rem;
  height: 25rem;
  position: absolute !important;
  display: initial !important;
  z-index: 999;
  margin: 10px;
  top: 0;
  right: 0;
}

.hide {
  position: absolute !important;
  display: initial !important;
  z-index: 999;
  margin: 10px;
  top: 0;
  right: 0;
}

.author {
  color: #53C1DE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute !important;
  height: 3em;
  width: 9em;
  z-index: 999;
  margin: 10px;
  bottom: 0;
  right: left;
  padding: 0.5em;
  
}

.image{
  height: 100%;
  padding: 0 !important;
 
}